**/__pycache__/**
*.pyc
*.pyo
.DS_Store
.venv/
*.egg-info/
.env
*.log
*.tmp
scripts/*.sh
!scripts/postinstall.sh
!scripts/preinstall.sh
!scripts/uninstall.sh
tests/
backup/
*.sock
*.pid
*.status
.vscode/
.idea/
*.swp
*.swo
